@media(max-width:1200px){
    .header__blog{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        
    }
    .blog__info{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .header__nav{
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .logo-img{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .nav__list_l{
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .nav__list_r{
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
    }
   
}
@media(max-width:992px){
    .header__blog img{
        display: none;
    }
    .blog__info__title{
        font-size: 55px;
    }
    #main-about{
        display: none;
    }
    .about-us{
        width: 100%;
    }
    .about-info{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-self: center;
        text-align: center;
    }
    .about-info__title{
        margin: 0;
    }
    .about-info__text{
        margin: 0;
    }
}
@media(max-width:768px){
    
  
}
@media(max-width:570px){
    .nav__list_l li{
        margin-top: 15px;
    }
}