* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'aachen';
}

.container {
    width: 1110px;
    margin: auto;
}

.header {
    min-height: 100vh;
    background: url(../images/header__bg.png)center/ cover no-repeat;

}

.header_alpha {
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    min-height: 100vh;
}

.header__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
}

.nav__list_l {
    display: flex;
    list-style: none;

}

.nav__list_r {
    display: flex;
    list-style: none;

}

.header__link {
    color: white;
    text-decoration: none;
}

.nav__list_l a {
    margin-right: 50px;
}

.nav__list_r a {
    margin-left: 50px;
}

.header__blog {
    padding-top: 120px;
    display: flex;

}

.blog__info {
    width: 100%;
}

.blog__info__title {
    color: #e58f00;
    font-size: 67px;


}

.blog__info__text {
    margin-left: 10px;
    color: white;
    font-size: 25px;
}

.blog__info__button {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    width: 200px;
    height: 70px;
    background: #e58f00;
    color: #28282d;
    font-size: 25px;
    text-decoration: none;
    border-radius: 5px;
}

/* -----------------------------------------main------------------------------------------- */
.main {
    background: #1d1d23;
  
}
.about-us{
    display: flex;
    justify-content: space-between;
    padding-top: 115px;
}
.about-info{
    width: 100%;
     
    
}
.about-info__title{
    color: white;
    font-size: 50px;
    margin-top: 135px;
    margin-left: 25px;
}
.about-info__text{
    color: white;
    font-size: 33px;
    margin-left: 25px;
    
}
/* meal */
.meal-block{
    position: relative;
    margin-top: 50px;
}